extends layout/base

block init
	- var title = 'Apache Manager'

block head
	style.
		body {
			background-color: #DADADA;
			background-image: url(/src/background-cloud.jpg);
			background-size: cover;
			background-position: center;
		}

block content
	.ui.container
		.ui.pointing.menu
			a.item(href="/") Actions
			a.item.active(href="/configs") Configs
			a.item(href="/mods") Mods
		.ui.segment
			h1 Configs
