extends layout/base

block init
	- var title = 'Configs'

block head
	style.
		body {
			background-color: #DADADA;
			background-image: url(/src/background-cloud.jpg);
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}
	script.
		$(document).ready(function() {
			$('.message .close').on('click', function() {
				$(this).closest('.message').transition('fade');
			});
		});

block content
	.ui.container
		.ui.pointing.menu
			a.item(href="/") Actions
			a.item.active(href="/configs") Configs
			a.item(href="/mods") Mods
			a.item(href="/sites") Sites
		.ui.segment
			h1 Configs
			if enabled
				.ui.success.message
					i.close.icon
					.header Success
					p Config #{enabled} has been enabled on the Apache server.
						br
						| You need to restart the Apache server.
			if disabled
				.ui.success.message
					i.close.icon
					.header Success
					p Config #{disabled} has been disabled on the Apache server.
						br
						| You need to restart the Apache server.
			table.ui.celled.table
				thead
					tr
						th Config name
						th Actions
				tbody
					each config in availableConfigs
						tr
							td(data-label='Config name')= config
							td(data-label='Actions')
								form.ui.form(action='#' method='post')
									input(type='hidden' name='config' value=config)
									if enabledConfigs.includes(config)
										input(type='hidden' name='disable')
										button.ui.negative.button.submit Disable
									else
										input(type='hidden' name='enable')
										button.ui.positive.button.submit Enable
									a(href="/configs/" + config)
										button.ui.primary.button(type='button') Manage
