extends layout/base

block init
	- var title = 'Connection'

block head
	style.
		body {
			background-color: #DADADA;
			background-image: url(/src/background-cloud.jpg);
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}
		body > .grid {
			height: 100%;
		}
		.image {
			margin-top: -100px;
		}
		.column {
			max-width: 450px;
		}
	script.
		$(document).ready(function() {
			$('.ui.form').form({
				fields: {
					username: {
						identifier: 'username',
						rules: [
							{
								type: 'empty',
								prompt: 'Please enter username'
							}
						]
					},
					password: {
						identifier: 'password',
						rules: [
							{
								type: 'empty',
								prompt: 'Please enter your password'
							}
						]
					}
				}
			});
		});

block content
	.ui.middle.aligned.center.aligned.grid
		.column
			h1.ui.violet.header.huge Apache Manager
			form.ui.large.form(action='#' method='post' class=(error ? 'error' : ''))
				.ui.stacked.segment
					h2.ui.violet.image.header
						i.sign-in.icon
						.content Login
					.field
						.ui.left.icon.input
							i.user.icon
							input(type='text' name='username' placeholder='Username')
					.field
						.ui.left.icon.input
							i.lock.icon
							input(type='password' name='password' placeholder='Password')
					.ui.fluid.large.violet.submit.button Login
				.ui.error.message
					if error
						ul.list
							li= error